.counter{
    display: flex;
    align-items: center;
    &__content{}
    &__link{
        margin-right: 30px;
        svg{
            cursor: pointer;
        }
        .active{
            fill: red;
        }
    }
    &__num{}
    &__text{}
}